@charset "utf-8";

/* 表示調整用スタイル */
body {
  /* 最低限の高さを１画面分に設定 */
  min-height: 100vh;
  /* 子要素を画面中央に配置 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSSを記述 */
p {
  display: none;
}